body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 1000px;
    background-color: #fff;
    color: #333;
    transition: background 0.2s linear, color 0.2s linear;
}

#artigos {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0%;
    height: 2000px;
    background-color: #fff;
    color: #000000;
}

header {
    padding: 1%;
    text-align: center;
}

header img {
    max-width: 150px;
}

body.dark {
    background-color: #272626;
    color: #fff;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #000000;
    border-radius: 100px;
    cursor: pointer;
    
    top: 8px; 
    left: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8.5px;
    position: fixed;
    height: 15px;
    width: 40px;

    transform: scale(1);
}

.label .ball {
    background-color: #302f2f;
    border-radius: 60%;
    position: absolute;
    top: 3.5px;
    left: 3.5px;

    height: 25px;
    width: 25px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: rgb(128, 188, 190);
}

.fa-sun {
    color: orange;
}

nav {
    padding: 0;
    background-color: #b2f3f5;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    width: 100%; 
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
}

section {
    max-width: 900px;
    margin: 2em auto;
    padding: 1em;
    box-shadow: 0 0 10px rgba(148, 235, 241, 0.1);
    text-align: center;
}

h1, h2 {
    color: #000000;
}

body.dark h1,
body.dark h2 {
    color: #33c6c6;
}

p {
    line-height: 1.6;
    color: #000000;
}

#paragrafo {
    line-height: 1.6;
    color: #000000;
    text-align: justify;
}

.linkedin-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#paragrafo1, #paragrafo2 {
    text-align: left;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b2f3f5;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e2d067;
}

footer {
    background-color: #b2f3f5;
    text-align: center;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 3%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}

h2 {
    margin: 0 auto;
    max-width: 800px; 
}

a:link {
    text-decoration:none;
    }
    a:visited {
    text-decoration:none;
    }
    a:hover {
    text-decoration:underline;
    }