/* Resetting Defaults and Setting Body Styles */
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: #d9eafd;
	transition: background 0.5s ease;
}

.dark-mode {
	background: #333333 !important;
}

/* Styling for Custom Image */
.custom-image {
	z-index: 9999;
	width: 108px;
	height: 108px;
	border-radius: 201.5px;
	position: absolute;
	top: 1%;
}

/* Styling for Custom Button */
.custom-button {
	z-index: 9999;
	width: 76px;
	height: 40px;
	top: 3%;
	left: 90%;
	padding: 8px;
	position: absolute;
	transform: scale(0.5);
}

/* Styling for Triangles */
.triangle,
.triangle:before,
.triangle:after {
	width: 700px;
	height: 700px;
}

.triangle {
	overflow: hidden;
	position: absolute;
	margin: 1em auto 0;
	border-radius: 20%;
	transform: translateX(120%) translateY(20%) rotate(70deg) skewY(30deg)
		scaleX(0.866);
}

.triangle:before,
.triangle:after {
	position: absolute;
	background-color: #33c6c6;
	pointer-events: auto;
	content: "";
}

.triangle:before {
	border-radius: 20% 20% 20% 53%;
	transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
		skewX(30deg) scaleY(0.866) translateX(-24%);
}

.triangle:after {
	border-radius: 20% 20% 53% 20%;
	transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
		skewX(-30deg) scaleY(0.866) translateX(24%);
}

/* Styling for Second Set of Triangles */
.triangle2,
.triangle2:before,
.triangle2:after {
	width: 600px;
	height: 600px;
}

.triangle2 {
	overflow: hidden;
	position: absolute;
	margin: 20em auto 0;
	border-radius: 20%;
	transform: translateX(30%) translateY(40%) rotate(70deg) skewY(30deg)
		scaleX(0.866);
}

.triangle2:before,
.triangle2:after {
	position: absolute;
	background-color: #33c6c6;
	pointer-events: auto;
	content: "";
}

.triangle2:before {
	border-radius: 20% 20% 20% 53%;
	transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
		skewX(30deg) scaleY(0.866) translateX(-24%);
}

.triangle2:after {
	border-radius: 20% 20% 53% 20%;
	transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
		skewX(-30deg) scaleY(0.866) translateX(24%);
}

/* Styling for Circle Element */
.circle {
	width: 400px;
	height: 400px;
	position: absolute;
	top: -90px;
	left: -100px;
	background-color: #33c6c6;
	border-radius: 50%;
}
