@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #0c1115;
  --secundary-color: #343a40;
  --h1-color: #344767;
  --bg-color: #d9eafd;
  --buttontext-color: #fff;
  --containerbg-color: #f7f7f7;
  --input-color: #8c8c8c;
}

.dark-mode {
  --text-color: #f7f7f7;
  --secundary-color: #33c6c6;
  --h1-color: #f7f7f7;
  --bg-color: #333;
  --buttontext-color: #0c1115;
  --containerbg-color: #3f3c3c;
  --input-color: #ced4da;
}

body {
  background: var(--bg-color);
  font-family: 'Open Sans';
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: background 0.5s ease;
}

.triangle,
.triangle:before,
.triangle:after {
  width: 700px;
  height: 700px;
}

.triangle {
  overflow: hidden;
  position: absolute;
  margin: 1em auto 0;
  border-radius: 20%;
  transform: translateX(120%) translateY(20%) rotate(70deg) skewY(30deg)
    scaleX(0.866);
}

.triangle:before,
.triangle:after {
  position: absolute;
  background-color: #33c6c6;
  pointer-events: auto;
  content: '';
}

.triangle:before {
  border-radius: 20% 20% 20% 53%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
    skewX(30deg) scaleY(0.866) translateX(-24%);
}

.triangle:after {
  border-radius: 20% 20% 53% 20%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
    skewX(-30deg) scaleY(0.866) translateX(24%);
}

/* Styling for Second Set of Triangles */
.triangle2,
.triangle2:before,
.triangle2:after {
  width: 600px;
  height: 600px;
}

.triangle2 {
  overflow: hidden;
  position: absolute;
  margin: 20em auto 0;
  border-radius: 20%;
  transform: translateX(30%) translateY(40%) rotate(70deg) skewY(30deg)
    scaleX(0.866);
}

.triangle2:before,
.triangle2:after {
  position: absolute;
  background-color: #33c6c6;
  pointer-events: auto;
  content: '';
}

.triangle2:before {
  border-radius: 20% 20% 20% 53%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
    skewX(30deg) scaleY(0.866) translateX(-24%);
}

.triangle2:after {
  border-radius: 20% 20% 53% 20%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%)
    skewX(-30deg) scaleY(0.866) translateX(24%);
}

/* Styling for Circle Element */
.circle {
  width: 400px;
  height: 400px;
  position: absolute;
  top: -90px;
  left: -100px;
  background-color: #33c6c6;
  border-radius: 50%;
}

a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #343a40;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav .logo {
  max-width: 108px;
  max-height: 108px;
  z-index: 9999;
}

.nav .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav .menu a {
  color: var(--secundary-color);
}

.menu .register-button {
  padding: 6px 16px;
  border: 1px solid var(--secundary-color);

  border-radius: 15px;
}

.menu img {
  max-width: 76px;
  max-height: 40px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 486px;
  max-height: 445px;

  display: grid;
  gap: 24px;
  padding: 24px 46px 50px 46px;

  background: var(--containerbg-color);
  border-radius: 24px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.container h1 {
  color: var(--h1-color);
  font-family: Open Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: start;
}

.container p:first-of-type {
  color: var(--text-color);
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.container .form input {
  display: flex;
  width: 100%;
  padding: 12px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--input-color);
  background: var(--containerbg-color);
}

.container .form input::placeholder {
  color: var(--input-color);
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container p:nth-of-type(2) {
  width: 313px;
  height: 41px;
  margin: 0 auto;

  color: var(--text-color);
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container .submit {
  display: flex;
  width: 382px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 0;

  border-radius: 8px;
  background: var(--secundary-color);

  color: var(--buttontext-color);
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
